@model IEnumerable<ProvaCandidato.Data.Entidade.Cliente>

@{
    ViewBag.Title = "Clientes";
    ViewBag.DadosEmpresa = System.Configuration.ConfigurationSettings.AppSettings["NomeEmpresa"];
}
<script type="text/javascript">
    $(document).ready(function () {
        $("#tbClientes").DataTable();
    });
</script>
<h2>Clientes</h2>

<p>
    @Html.ActionLink("Cadastrar", "Create", "", htmlAttributes: new { @class = "btn btn-success" })
</p>
<table class="table" id="tbClientes">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cidade.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataNascimento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ativo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Cidade.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @{ var data = item.DataNascimento.HasValue ? item.DataNascimento.Value.ToShortDateString() : "Sem data cadastrada";}
                    @Html.Raw(data)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ativo)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.Codigo }, new { @class = "btn btn-warning" })
                    @Html.ActionLink("Detalhes", "Details", new { id = item.Codigo }, new { @class = "btn btn-info" })
                    @Html.ActionLink("Excluir", "Delete", new { id = item.Codigo }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }
    </tbody>
</table>
